// Breakpoints
$mobile-max: 767.98px;
$tablet-min: 768px;
$tablet-max: 1023.98px;
$desktop-min: 1024px;
$desktop-max: 1439.98px;
$fluid-min: 1440px;

// Hide Utilities
.hide-mobile {
  @media (max-width: #{$mobile-max}) {
    display: none !important;
  }
}

.hide-tablet {
  @media (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) {
    display: none !important;
  }
}

.hide-desktop {
  @media (min-width: #{$desktop-min}) and (max-width: #{$desktop-max}) {
    display: none !important;
  }
}

.hide-fluid {
  @media (min-width: #{$fluid-min}) {
    display: none !important;
  }
}

// Only Utilities
.only-mobile {
  @media (min-width: #{$tablet-min}) {
    display: none !important;
  }
}

.only-tablet {
  @media (max-width: #{$mobile-max}) {
    display: none !important;
  }
  @media (min-width: #{$desktop-min}) {
    display: none !important;
  }
}

.only-desktop {
  @media (max-width: #{$tablet-max}) {
    display: none !important;
  }
  @media (min-width: #{$fluid-min}) {
    display: none !important;
  }
}

.only-fluid {
  @media (max-width: #{$desktop-max}) {
    display: none !important;
  }
}

.no-dimensions {
  &-mobile {
    @media (max-width: #{$mobile-max}) {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
  &-tablet {
    @media (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
  &-desktop {
    @media (min-width: #{$desktop-min}) and (max-width: #{$desktop-max}) {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
  &-fluid {
    @media (min-width: #{$fluid-min}) {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}

.small-dimensions {
  &-mobile {
    @media (max-width: #{$mobile-max}) {
      margin: 10px !important;
      padding: 10px !important;
    }
  }
  &-tablet {
    @media (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) {
      margin: 10px !important;
      padding: 10px !important;
    }
  }
  &-desktop {
    @media (min-width: #{$desktop-min}) and (max-width: #{$desktop-max}) {
      margin: 10px !important;
      padding: 10px !important;
    }
  }
  &-fluid {
    @media (min-width: #{$fluid-min}) {
      margin: 10px !important;
      padding: 10px !important;
    }
  }
}
