/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-dro-block-magic-text-block {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}
mark.has-gradient-color{

	background: -webkit-linear-gradient(#eee, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
