{**
 * Grid Layout Template
 * Used by ViewGridLayout for rendering individual items
 * All data is processed in the layout class, template only displays
 *}

<div class="{implode(' ', $content_classes)}">
    {if $thumbnail && $thumbnail['exists']}
        <figure class="wp-block-view-featured-image">
            {$thumbnail['html']|noescape}
        </figure>
    {/if}

    <div class="wp-block-view-content-inner">
        {if $show_title}
            <h2 class="wp-block-view-title">
                <a href="{$permalink|noescape}">
                    {$title|noescape}
                </a>
            </h2>
        {/if}

        {if $show_date && $date}
            <div class="wp-block-view-date">
                <time datetime="{$date['datetime']|noescape}">
                    {$date['formatted']|noescape}
                </time>
            </div>
        {/if}

        {if $show_excerpt && $excerpt}
            <div class="wp-block-view-excerpt">
                <p class="wp-block-view-excerpt__excerpt">
                    {$excerpt|noescape}
                </p>
            </div>
        {/if}

        {if $show_categories && $categories}
            <div class="wp-block-view-categories">
                {foreach $categories as $category}
                    <a href="{$category['link']|noescape}" class="wp-block-view-category">
                        {$category['name']|noescape}
                    </a>
                {/foreach}
            </div>
        {/if}

        {if $show_tags && $tags}
            <div class="wp-block-view-tags">
                {foreach $tags as $tag}
                    <a href="{$tag['link']|noescape}" class="wp-block-view-tag">
                        {$tag['name']|noescape}
                    </a>
                {/foreach}
            </div>
        {/if}

        {if $show_author && $author}
            <div class="wp-block-view-author">
                <a href="{$author['posts_url']|noescape}" class="wp-block-view-author-link">
                    {$author['display_name']|noescape}
                </a>
            </div>
        {/if}

        {if $show_read_more}
            <div class="wp-block-view-read-more">
                <a href="{$permalink|noescape}" class="wp-block-view-read-more__link">
                    {$read_more_text|noescape}
                </a>
            </div>
        {/if}
    </div>
</div>
