{**
 * Horizontal Layout Template
 * Used by ViewHorizontalLayout for rendering individual items
 * All data is processed in the layout class, template only displays
 *}

<div class="{implode(' ', $content_classes)}">
    {if $show_thumbnail && $thumbnail.exists}
        <figure class="wp-block-view-featured-image">
            {$thumbnail.html|noescape}
        </figure>
    {/if}

    <div class="wp-block-view-content-inner">
        {if $show_title}
            <h2 class="wp-block-view-title">
                <a href="{$permalink|noescape}">
                    {$title|noescape}
                </a>
            </h2>
        {/if}

        {if $show_date && $date}
            <div class="wp-block-view-date">
                <time datetime="{$date.datetime|noescape}">
                    {$date.formatted|noescape}
                </time>
            </div>
        {/if}

        {if $show_excerpt && $excerpt}
            <div class="wp-block-view-excerpt">
                <p class="wp-block-view-excerpt__excerpt">
                    {$excerpt|noescape}
                </p>
            </div>
        {/if}
    </div>
</div>
