.wp-block-jankx-post-layout-template {
	margin-top: 0;
	margin-bottom: 0;
	max-width: 100%;
	list-style: none;
	padding: 0;
	box-sizing: border-box;

	&.is-flex-container {
		flex-direction: row;
		display: flex;
		flex-wrap: wrap;
		gap: 1.25em;

		> li {
			margin: 0;
			width: 100%;
		}
	}
}

@media (min-width: 600px) {
	.wp-block-jankx-post-layout-template.is-flex-container {
		&.columns-2 > li {
			width: calc((100% / 2) - 1.25em + (1.25em / 2));
		}

		&.columns-3 > li {
			width: calc((100% / 3) - 1.25em + (1.25em / 3));
		}

		&.columns-4 > li {
			width: calc((100% / 4) - 1.25em + (1.25em / 4));
		}

		&.columns-5 > li {
			width: calc((100% / 5) - 1.25em + (1.25em / 5));
		}

		&.columns-6 > li {
			width: calc((100% / 6) - 1.25em + (1.25em / 6));
		}
	}
}

@media (max-width: 600px) {
	.wp-block-jankx-post-layout-template.wp-block-jankx-post-layout-template.wp-block-jankx-post-layout-template.wp-block-jankx-post-layout-template {
		grid-template-columns: 1fr;
	}
}

.wp-block-jankx-post-layout-template-is-layout-constrained > li > .alignright,
.wp-block-jankx-post-layout-template-is-layout-flow > li > .alignright {
	float: right;
	margin-inline-start: 2em;
	margin-inline-end: 0;
}

.wp-block-jankx-post-layout-template-is-layout-constrained > li > .alignleft,
.wp-block-jankx-post-layout-template-is-layout-flow > li > .alignleft {
	float: left;
	margin-inline-start: 0;
	margin-inline-end: 2em;
}

.wp-block-jankx-post-layout-template-is-layout-constrained > li > .aligncenter,
.wp-block-jankx-post-layout-template-is-layout-flow > li > .aligncenter {
	margin-inline-start: auto;
	margin-inline-end: auto;
}

