.jankx-advanced-posts {
	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}

	&__item {
		border: 1px solid rgba(0,0,0,0.06);
		padding: 1rem;
		border-radius: 8px;
	}
}
