.magic-gradient-stroke {
  --stroke-color: transparent;
  --stroke-width: 1px;
  --gradient-stroke: linear-gradient(
    to right,
    #09f1b8,
    #00a2ff,
    #ff00d2,
    #fed90f
  );

  color: transparent;
  background-clip: text;
  background-image: var(--gradient-stroke);
  -webkit-text-stroke-color: var(--stroke-color);
  -webkit-text-stroke-width: var(--stroke-width);
  display: inline-block;
  padding: 0.1em;

  @supports (-webkit-text-stroke: 1px #000) or (text-stroke: 1px #000) {
    // color: var(--base-color, #000);
    background-image: var(--gradient-stroke);
    -webkit-text-stroke-color: var(--gradient-stroke);
    -webkit-text-stroke-width: var(--stroke-width);
    text-stroke-color: var(--gradient-stroke);
    text-stroke-width: var(--stroke-width);
  }
}
.editor-styles-wrapper .magic-gradient-stroke {
  background-color: rgba(0, 0, 0, 0.1);
}
