.wp-block-jankx-swiper-inner-blocks-overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  outline: 1px dashed rgba(0,0,0,0.3);
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
