.jankx-swiper-slider {
    position: relative;
    width: 100%;

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-wrapper {
        display: flex;
        transition-property: transform;
    }

    .swiper-slide {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        transition-property: transform;
    }

    .swiper-pagination {
        position: absolute;
        text-align: center;
        transition: 300ms opacity;
        transform: translate3d(0, 0, 0);
        z-index: 10;

        &.swiper-pagination-hidden {
            opacity: 0;
        }
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        background: #000;
        opacity: 0.2;
        margin: 0 4px;
        cursor: pointer;

        &.swiper-pagination-bullet-active {
            opacity: 1;
            background: #007aff;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 50%;
        width: 27px;
        height: 44px;
        margin-top: -22px;
        z-index: 10;
        cursor: pointer;
        background: none;
        color: transparent;

        &:after {
            font-size: 27px;
            color: #000;
        }
    }

    .swiper-button-next {
        right: 10px;
        left: auto;

        &:after {
            content: 'next';
        }
    }

    .swiper-button-prev {
        left: 10px;
        right: auto;

        &:after {
            content: 'prev';
        }
    }

    .swiper-button-disabled {
        opacity: 0.35;
        cursor: auto;
        pointer-events: none;
    }
}
