{**
 * Blog Post Layout 2 Template
 * Layout: Featured post (left) + 2x2 Grid (right)
 * Displays first post as large featured item, remaining posts in 2x2 grid
 *}

{var $item_spacing = isset($item_spacing) ? $item_spacing : ($options['itemSpacing'] ?? 'normal')}
{var $show_item_border = isset($show_item_border) ? $show_item_border : ($options['showItemBorder'] ?? false)}
{var $item_border_radius = isset($item_border_radius) ? $item_border_radius : ($options['itemBorderRadius'] ?? 0)}
{var $showThumb = isset($show_thumbnail) ? $show_thumbnail : ($options['showFeaturedImage'] ?? true)}
{var $show_title = isset($show_title) ? $show_title : ($options['showTitle'] ?? true)}
{var $show_excerpt = isset($show_excerpt) ? $show_excerpt : ($options['showExcerpt'] ?? true)}
{var $show_date = isset($show_date) ? $show_date : ($options['showDate'] ?? true)}
{var $show_author = isset($show_author) ? $show_author : ($options['showAuthor'] ?? false)}
{var $excerpt_length = isset($excerpt_length) ? $excerpt_length : ($options['excerptLength'] ?? 55)}

<div class="post-type-layout-blog-post-2">
    <div class="blog-post-2-wrapper">
        {* Featured Post (First Item) *}
        {if isset($items[0])}
            {var $featured = $items[0]}
            <article id="post-{$featured['id']}" class="{implode(' ', $featured['post_class'])} featured-post">
                {if $showThumb && $featured['thumbnail']['exists']}
                    <div class="featured-post-thumbnail">
                        <a href="{$featured['permalink']|noescape}" aria-hidden="true" tabindex="-1">
                            {$featured['thumbnail']['html']|noescape}
                        </a>
                    </div>
                {/if}
                
                <div class="featured-post-content">
                    {if $show_title}
                        <h2 class="featured-post-title">
                            <a href="{$featured['permalink']|noescape}">{$featured['title']|noescape}</a>
                        </h2>
                    {/if}

                    {if $show_date || $show_author}
                        <div class="featured-post-meta">
                            {if $show_date && $featured['date']}
                                <span class="post-date">
                                    <time datetime="{$featured['date']['datetime']|noescape}">{$featured['date']['formatted']|noescape}</time>
                                </span>
                            {/if}

                            {if $show_author && isset($featured['author']) && $featured['author']}
                                <span class="post-author">
                                    by <a href="{$featured['author']['posts_url']|noescape}">{$featured['author']['display_name']|noescape}</a>
                                </span>
                            {/if}
                        </div>
                    {/if}

                    {if $show_excerpt && $featured['excerpt']}
                        <div class="featured-post-excerpt">
                            <p>{$featured['excerpt']|noescape}</p>
                        </div>
                    {/if}
                </div>
            </article>
        {/if}
        
        {* Grid Items (Remaining Posts) *}
        <div class="blog-post-2-grid">
            {foreach $items as $index => $item}
                {if $index > 0 && $index < 6}
                    {var $grid_class = $index >= 3 ? 'blog-post-2-item grid-item-bottom' : 'blog-post-2-item'}
                    <article id="post-{$item['id']}" class="{implode(' ', $item['post_class'])} {$grid_class}">
                        {if $showThumb && $item['thumbnail']['exists']}
                            <div class="blog-post-2-item-thumbnail">
                                <a href="{$item['permalink']|noescape}" aria-hidden="true" tabindex="-1">
                                    {$item['thumbnail']['html']|noescape}
                                </a>
                            </div>
                        {/if}
                        
                        <div class="blog-post-2-item-content">
                            {if $show_title}
                                <h3 class="blog-post-2-item-title">
                                    <a href="{$item['permalink']|noescape}">{$item['title']|noescape}</a>
                                </h3>
                            {/if}

                            {if $show_date || $show_author}
                                <div class="blog-post-2-item-meta">
                                    {if $show_date && $item['date']}
                                        <span class="post-date">
                                            <time datetime="{$item['date']['datetime']|noescape}">{$item['date']['formatted']|noescape}</time>
                                        </span>
                                    {/if}

                                    {if $show_author && isset($item['author']) && $item['author']}
                                        <span class="post-author">
                                            by <a href="{$item['author']['posts_url']|noescape}">{$item['author']['display_name']|noescape}</a>
                                        </span>
                                    {/if}
                                </div>
                            {/if}

                            {if $show_excerpt && $item['excerpt']}
                                <div class="blog-post-2-item-excerpt">
                                    <p>{$item['excerpt']|noescape}</p>
                                </div>
                            {/if}
                        </div>
                    </article>
                {/if}
            {/foreach}
        </div>
    </div>
</div>
