{* Loop item template - basic post layout *}
{var $post = $item}
{var $post_id = $post->ID}
{var $post_title = get_the_title($post)}
{var $post_permalink = get_permalink($post)}
{var $post_thumbnail = get_the_post_thumbnail_url($post, 'large')}
{var $post_excerpt = get_the_excerpt($post)}
{var $post_date = get_the_date('', $post)}
{var $post_author = get_the_author_meta('display_name', $post->post_author)}

<div class="loop-item">
    {if $post_thumbnail}
        <div class="loop-item-thumbnail">
            <a href="{$post_permalink|escape}">
                <img src="{$post_thumbnail|escape}" alt="{$post_title|escape}" loading="lazy">
            </a>
        </div>
    {/if}
    
    <div class="loop-item-content">
        <h3 class="loop-item-title">
            <a href="{$post_permalink|escape}">{$post_title}</a>
        </h3>
        
        {if $post_excerpt}
            <div class="loop-item-excerpt">
                <p>{$post_excerpt}</p>
            </div>
        {/if}
        
        <div class="loop-item-meta">
            <time datetime="{$post_date|date:'Y-m-d'}">{$post_date}</time>
            {if $post_author}
                <span class="loop-item-author">by {$post_author}</span>
            {/if}
        </div>
    </div>
</div>
