{**
 * Fullwidth Loop Item Template
 * Full-width template for individual loop items with larger content
 * All data is processed in the layout class, template only displays
 *}

<div class="{implode(' ', $content_classes)}">
    <div class="wp-block-view-fullwidth-wrapper">
        {if $show_thumbnail && $thumbnail.exists}
            <figure class="wp-block-view-featured-image wp-block-view-featured-image-fullwidth">
                <a href="{$permalink|noescape}">
                    {$thumbnail.html|noescape}
                </a>
            </figure>
        {/if}

        <div class="wp-block-view-content-inner wp-block-view-content-inner-fullwidth">
            {if $show_title}
                <h2 class="wp-block-view-title wp-block-view-title-fullwidth">
                    <a href="{$permalink|noescape}">
                        {$title|noescape}
                    </a>
                </h2>
            {/if}

            <div class="wp-block-view-meta">
                {if $show_date && $date}
                    <div class="wp-block-view-date">
                        <time datetime="{$date.datetime|noescape}">
                            {$date.formatted|noescape}
                        </time>
                    </div>
                {/if}

                {if $show_author && $author}
                    <div class="wp-block-view-author">
                        <span class="wp-block-view-author__by">By</span>
                        <span class="wp-block-view-author__name">
                            {$author.display_name|noescape}
                        </span>
                    </div>
                {/if}

                {if $show_categories && $categories}
                    <div class="wp-block-view-categories">
                        {foreach $categories as $category}
                            <a href="{$category.link|noescape}" class="wp-block-view-categories__link">
                                {$category.name|noescape}
                            </a>
                        {/foreach}
                    </div>
                {/if}
            </div>

            {if $show_excerpt && $excerpt}
                <div class="wp-block-view-excerpt wp-block-view-excerpt-fullwidth">
                    <div class="wp-block-view-excerpt__excerpt">
                        {$excerpt|noescape}
                    </div>
                </div>
            {/if}

            {if $show_tags && $tags}
                <div class="wp-block-view-tags">
                    {foreach $tags as $tag}
                        <a href="{$tag.link|noescape}" class="wp-block-view-tags__link">
                            {$tag.name|noescape}
                        </a>
                    {/foreach}
                </div>
            {/if}

            {if $show_read_more}
                <div class="wp-block-view-read-more wp-block-view-read-more-fullwidth">
                    <a href="{$permalink|noescape}" class="wp-block-view-read-more__link">
                        {$read_more_text|noescape}
                    </a>
                </div>
            {/if}
        </div>
    </div>
</div>
